.home{margin-bottom:0.89rem;background:#fff;}
.home .banner {width:100%;height:3.06rem;margin-top:0.88rem;}
.home .banner .carousel div{width:100%;height:3.06rem;}
.home .banner .carousel div a{display:block;text-align: center;}
.home .banner .carousel div a img{width: 100%;height:3.06rem;}
/* .home .banner .carousel div a span{color:#333} */
